body {
  background-color: #242333;
}

.h1 {
  background-color: #242333;
  text-align: center;
  color: #ffffff;
  background-image: url(images/7.jpg);
}

.interest-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interest {
  text-align: center;
  color: #ffffff;
}

@font-face {
  font-family: "CustomFont";
  src: url("path/to/custom-font.woff2") format("woff2"),
    url("path/to/custom-font.woff") format("woff");
}

.testimonials {
  color: #ffffff;
  text-align: center;
  background-color: #242333;
  border: #ffffff;
  padding: 10px;
  margin-bottom: 50px;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ol a {
  color: #ffffff;
}

li {
  margin-bottom: 10px;
  margin-right: 30px;
  width: fit-content;
}

.works {
  color: #ffffff;
  border: 5px solid #ffffff;
  padding: 10px;
  text-align: center;
}

.works-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #ffffff;
  text-align: center;
}

.gallery {
  background-color: #242333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
  box-sizing: border-box;
}

.gallery img {
  width: 100px;
  height: 100px;
  color: #ffffff;
}

.gallery:hover {
  border: 1px #ffffff;
}

.image-box {
  margin: 0 1%;
  flex-grow: 1;
  flex-basis: 30%;
  transition: 0.5s;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.image-box:hover {
  flex-basis: 45%;
}

.active {
  flex-basis: 45%;
}

@media (max-width: 768px) {
  .testimonials {
    padding: 50px;
    margin-bottom: 100px;
  }
}

@media (max-width: 426px) {
  .testimonials {
    padding: 30px;
    margin-bottom: 50px;
  }
}
