* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #242333;
  text-align: center;
  color: #ffffff;
  background-image: url(images/7.jpg);
}

h2 {
  padding: 20px;
  margin-left: 10px;
  text-align: center;
}

section {
  padding: 20px 0;
}

ul,
li {
  padding-left: 0;
  text-decoration: none;
  list-style: none;
}

.interest-list,
.works-list,
.testimonial-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interest-list ul,
.works-list ol,
.testimonial-list p {
  margin: 0;
  padding: 5px 0;
  text-decoration: none;
}

a {
  color: #fff;
}

.works {
  border: 5px solid rgb(247, 246, 246);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 5px solid rgb(247, 246, 246);
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-box {
  width: calc(33.33% - 20px);
  margin: 10px;
}

.image-box img {
  width: 100%;
  height: auto;
}

.contact {
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.message-container {
  margin-top: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}

.submit-container {
  margin-top: 20px;
}

input[type="email"],
input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

label {
  font-weight: bold;
}

input[type="submit"] {
  background-color: rgb(241, 180, 65);
  color: #fff;
  padding: 14px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: rgb(220, 150, 40);
}

@media (max-width: 768px) {
  .image-box {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 426px) {
  .image-box {
    flex-basis: calc(100% - 20px);
  }
}
