body {
  background-color: #242333;
}

.h1 {
  background-color: #242333;
  text-align: center;
  color: #ffffff;
  background-image: url(images/7.jpg);
}

.interest-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interest {
  text-align: center;
  color: #ffffff;
}

@font-face {
  font-family: "CustomFont";
  src: url("path/to/custom-font.woff2") format("woff2"),
    url("path/to/custom-font.woff") format("woff");
}

.testimonials {
  color: #ffffff;
  text-align: center;
  background-color: #242333;
  border: #ffffff;
  padding: 100;
  height: 100px;
  margin-bottom: 150px;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

ol a {
  color: #ffffff;
}

li {
  margin-bottom: 10px;
  margin-right: 30px;
  width: fit-content;
}

.works {
  color: #ffffff;
  border: 5px solid #ffffff;
  padding: 10px;
  text-align: center;
}

.works-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #ffffff;
  text-align: center;
}

.gallery {
  background-color: #242333;
  display: flex;
  margin: 1rem;
  box-sizing: border-box;
}

.gallery img {
  width: 100px;
  height: 100px;
  color: #ffffff;
}

.gallery:hover {
  border: 1px #ffffff;
}

.image-box {
  margin: 0 1%;
  flex-grow: 1;
  flex-basis: 0;
  transition: 0.5s;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.image-box:hover {
  flex-basis: 10%;
}

.active {
  flex-basis: 10%;
}

.gallery:hover .active {
  flex-basis: 0;
}

.image-box:nth-child(1):hover {
  flex-basis: 10%;
}

@media (max-width: 426px) {
  .contact,
  .message-container,
  .submit-container,
  .container {
    color: #ffffff;
  }

  .message-container {
    display: flex;
    flex-direction: column;
  }

  .submit-container {
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 426px) {
  .contact h2 {
    color: #ffffff;
    text-align: center;
  }

  .forms {
    color: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .message-container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .checkbox-container {
    color: #ffffff;
  }

  .submit-container {
    color: #ffffff;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .contact,
  .message-container,
  .submit-container,
  .container {
    color: #ffffff;
  }

  .message-container {
    display: flex;
    flex-direction: column;
  }

  .submit-container {
    display: flex;
    justify-content: center;
  }

  .container {
    display: flex;
    flex-direction: column;
  }
}
