* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #242333;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

header {
  background-color: #242333;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 20px;
  border: 3px solid #fff;
}

h2 {
  padding: 20px;
  margin-left: 10px;
  text-align: center;
}

.interests,
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.interests-list,
.works-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
  list-style-type: none;
}

.interest,
.work {
  background-color: #01b0d3;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  max-width: 300px;
}

.work a {
  color: inherit;
  text-decoration: none;
}

section {
  padding: 20px 0;
}

.testimonial-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.testimonial-list p {
  margin: 0;
  padding: 5px 0;
  text-decoration: none;
}

a {
  color: #fff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 5px solid rgb(247, 246, 246);
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-box {
  width: calc(33.33% - 20px);
  margin: 10px;
}

.image-box img {
  width: 100%;
  height: auto;
}

.contact {
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

.class-session {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.class-session h2 {
  margin-top: 2rem;
  background-color: #01b0d3;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.class-session p {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.forms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.message-container {
  margin-top: 10px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}

.submit-container {
  margin-top: 20px;
}

input[type="email"],
input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

label {
  font-weight: bold;
}

input[type="submit"] {
  background-color: rgb(241, 180, 65);
  color: #fff;
  padding: 14px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem;
}

input[type="submit"]:hover {
  background-color: rgb(220, 150, 40);
}

.header-goals {
  text-align: center;
  margin-bottom: -1rem;
}

.goals {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.goals h2 {
  width: 100%;
}

.goal {
  background-color: #01b0d3;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  max-width: 300px;
}

.icon {
  background-color: #01b0d3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 1rem;
  width: 4rem;
  margin-bottom: 1rem;
}

h3 {
  color: #ffffff;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

p {
  color: #ffffff;
  font-size: 0.9rem;
  line-height: 1.5;
}

.comment-section {
  margin-top: -2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.comment-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 100%;
  height: 20vh;
  padding: 15px;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
}

.comment-group input,
.comment-group textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

.comment-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.comment-container button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.team-comment {
  text-align: center;
}

.team-comment > h2 {
  margin-bottom: 10px;
}

.teammate-comments {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 8px;
}

.team-comment-item {
  margin-bottom: 10px;
  background-color: #01b0d3;
  border-radius: 4px;
  padding: 10px;
  color: #fff;
}

.team-comment-author {
  font-weight: bold;
  margin-bottom: 5px;
}

.team-comment-text {
  color: #fff;
}

@media (max-width: 768px) {
  .image-box {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 426px) {
  .image-box {
    flex-basis: calc(100% - 20px);
  }
}

@media (max-width: 426px) {
  .forms {
    display: flex;
    flex-direction: column;
  }
}
