body {
  background-color: aliceblue;
}

.h1 {
  background-color: lightblue;
  text-align: center;
  color: white;
}

.interest {
  text-align: center;
  background-color: aliceblue;
  color: rgb(180, 199, 220);
}

@font-face {
  font-family: "CustomFont";
  src: url("path/to/custom-font.woff2") format("woff2"),
    url("path/to/custom-font.woff") format("woff");
}

.testimonials {
  color: rgb(180, 199, 220);
  text-align: center;
  background-color: aliceblue;
  border: lightblue;
  padding: 100;
  height: 100px;
}

ul,
ol {
  padding: 100;
  margin: 100;
}

ol a {
  color: rgb(180, 199, 220);
}

li {
  margin-bottom: 10px;
  margin-right: 30px;
}

.MyWorks {
  color: rgb(180, 199, 220);
  border: 5px solid lightblue;
  padding: 10px;
  text-align: center;
}

.title {
  color: rgb(180, 199, 220);
  text-align: center;
}
.text {
  color: rgb(180, 199, 220);
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gallery {
  background-color: rgb(233, 241, 250);
  display: flex;
  margin: 1rem;
  box-sizing: border-box;
}

.gallery img {
  width: 100px;
  height: 100px;
  color: rgb(180, 199, 220);
}

.gallery:hover {
  border: 1px solid darkblue;
}

.image-box {
  margin: 0 1%;
  flex-grow: 1;
  flex-basis: 0;
  transition: 0.5s;
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.image-box:hover {
  flex-basis: 30%;
}
.active {
  flex-basis: 30%;
}
.gallery:hover .active {
  flex-basis: 0;
}
.image-box:nth-child(1):hover {
  flex-basis: 30%;
}
